<?xml version="1.0"?>

<launch>
      <!-- Move_Base -->
      <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
         <rosparam file="$(find ipharobotv4_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
         <rosparam file="$(find ipharobotv4_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
         <rosparam file="$(find ipharobotv4_navigation)/param/local_costmap_params.yaml" command="load" />
         <rosparam file="$(find ipharobotv4_navigation)/param/global_costmap_params.yaml" command="load" />
         <rosparam file="$(find ipharobotv4_navigation)/param/dwa_local_planner_params.yaml" command="load" />
         <rosparam file="$(find ipharobotv4_navigation)/param/move_base_params.yaml" command="load" />

         <remap from="cmd_vel" to="ipharobotv4/cmd_vel"/>
         <remap from="odom" to="ipharobotv4/odom"/>
         <remap from="scan" to="ipharobotv4/scan"/>
         <remap from="robot_footprint" to="ipharobotv4/robot_footprint"/>

         <!-- A fast, interpolated global planner built as a more flexible replacement to navfn.
         (navfn/NavfnROS, global_planner/GlobalPlanner, carrot_planner/CarrotPlanner) -->
         <param name="base_global_planner" value="global_planner/GlobalPlanner" />

         <!-- provides an interface for local planners used in navigation -->
         <!-- base_local_planner/TrajectoryPlannerROS, eband_local_planner/EBandPlannerROS, teb_local_planner/TebLocalPlannerROS  -->
         <!-- sudo apt-get install ros-kinetic-eband-local-planner -->
         <!-- sudo apt-get install ros-kinetic-teb-local-planner -->
         <!-- <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/> -->
         <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
         <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
         <param name="controller_frequency" value="30.0" />
         <param name="planner_frequency" value="10.0" />
      </node>
</launch>
